body {
  background-color: blue;
  align-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: bisque;
}